@model List<UserViewModel>

@{
    ViewData["Title"] = "User Info";
}

<div class="container">
    <form asp-action="Add" asp-controller="User" method="post">
        <table class="table table-bordered" style="width: 150%;">
            <thead class="table-dark">
                <tr>
                    <th>N</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Website</th>
                    <th>Notes</th>
                    <th>IsActive</th>
                    <th style="text-align:center;">Address</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            <input asp-for="@Model[i].Name" class="form-control" readonly />
                        </td>
                        <td>
                            <input asp-for="@Model[i].NotUsername" class="form-control" readonly />
                        </td>
                        <td>
                            <input asp-for="@Model[i].Email" class="form-control" readonly />
                        </td>
                        <td>
                            <input asp-for="@Model[i].Phone" class="form-control" readonly />
                        </td>
                        <td>
                            <input asp-for="@Model[i].Website" class="form-control" readonly />
                        </td>
                        <td style=" height: 60px;">
                            <textarea asp-for="@Model[i].Note" class="form-control" style="width: 100%; height: 100%;"></textarea>
                        </td>
                        <td>
                            <input class="form-check-input me-1" asp-for="@Model[i].IsActive" />
                        </td>
                        <td>
                            <table class="table table-lg table-striped">
                                <thead>
                                    <tr>
                                        <th>Street</th>
                                        <th>Suite</th>
                                        <th>City</th>
                                        <th>Zip Code</th>
                                        <th>Lat</th>
                                        <th>Lng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input asp-for="@Model[i].Address!.Street" class="form-control" readonly />
                                        </td>
                                        <td>
                                            <input asp-for="@Model[i].Address!.Suite" class="form-control" readonly />
                                        </td>
                                        <td>
                                            <input asp-for="@Model[i].Address!.City" class="form-control" readonly />
                                        </td>
                                        <td>
                                            <input asp-for="@Model[i].Address!.ZipCode" class="form-control" readonly />
                                        </td>
                                        <td>
                                            <input asp-for="@Model[i].Address!.Lat" class="form-control" readonly />
                                        </td>
                                        <td>
                                            <input asp-for="@Model[i].Address!.Lng" class="form-control" readonly />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary mt-4 mb-4">Save All</button>
    </form>
</div>
